{% extends "base.html" %}

{% block htmltitle %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    <meta name="title" property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}" />
    <meta name="url" property="og:url" content="{{ page.canonical_url }}" />

    {% if page.meta.description %}
    <meta name="description" property="og:description" content="{{page.meta.description}}" />
    {% endif %}
    {% if page.meta.image %}
        <meta name="image" property="og:image" content="{{page.meta.image}}">
    {% else %}
        <meta name="image" property="og:image" content="/img/logo.png">
    {% endif %}
{% endblock %}

{% block site_name %}
<a class="navbar-brand" href="/">
    <img src="/img/logo.png" alt="">
    {{config.site_name}}
</a>
{% endblock %}


{% block footer %}
    {% if page.is_homepage %}
    <div class="container">
        <hr>
        <p>Don't forget bookmark this site.</p>
        <p>You can forget this site, but you can't forget an Ideology</p>
    </div>
    {% else %}
    <div class="container">
        <hr>
        <a href="/">Home</a>
    </div>
    {% endif %}
{% endblock %}